.ancho-maximo {
    width: 100%;
  }
  
.activo {
  font-weight: bold;
  cursor: pointer !important;
  background-color: #007BFF !important;
  color: white !important;
}

.inactivo {
  cursor: pointer !important;
}
  
  .fuente-negrita {
    font-weight: bold;
  }
  